@import "variable";

footer{
  margin-top: $gutterM;
  text-align: center;
  padding: 40px 10px;
  box-shadow: 0px -2px 8px 0px rgba(50,50,50,0.1);
}
.copyright-site{
  font-size: 13px;
  text-transform: uppercase;
}
