@import "variable";

.page {
  font: 18px/1.4 'Roboto', sans-serif;
  color: $black;
}

main {
  max-width: $desktopLarge;
  margin: 0 auto;
  padding: 0 10px;
}

.page-title {
  margin: 0 auto;
  text-align: center;
  max-width: $desktopLarge;
}

a {
  text-decoration: none;
  color: $gray;
}

